{% extends "base.html.twig" %}

{% block title %}Cadastro de Usuários{% endblock title %}

{#Formulário de Cadastro de Usuários#}
{% block body %}
    <p class="msgErro">Ocorreu uma falha ao cadastrar o(a) usuario(a) <strong>{{usuario}}</strong></p>
    <a href="{{url('web_usuario_index')}}">Voltar</a>
{% endblock body %}