{% extends "base.html.twig" %}
{% block title %}Cadastro de Usuários{% endblock title %}

{#Formulário de Cadastro de Usuários#}
{% block body %}
    <p class="msgSucesso">Cadastro do usuario(a) <strong>{{usuario}}</strong> realizado com Sucesso!</p>
    <a href="{{url('web_usuario_index')}}">Voltar</a>
{% endblock body %}